<nav class="bottom-nav" aria-label="Navegación principal">
  <ng-container *ngFor="let item of visibleItems">

    <a
      *ngIf="item.route"
      class="bottom-nav-item"
      [routerLink]="item.route"
      [class.active]="isActive(item.route)"
      [attr.aria-label]="item.label"
    >
      <i [class]="item.icon + ' bottom-nav-icon'"></i>
      <span class="bottom-nav-label">{{ item.label }}</span>
    </a>


    <button
      *ngIf="item.action"
      class="bottom-nav-item bottom-nav-btn"
      (click)="onItemClick(item)"
      [attr.aria-label]="item.label"
    >
      <i [class]="item.icon + ' bottom-nav-icon'"></i>
      <span class="bottom-nav-label">{{ item.label }}</span>
    </button>
  </ng-container>
</nav>
